// <МИКСИНЫ>===============================================================================================
// миксин - комплект свойств, для быстрого вызова(подробнее mixins.scss)
@import "../scss/mixins.scss";
// </МИКСИНЫ>===============================================================================================

// <ШРИФТЫ>===============================================================================================
// <Подключаем шрифты>=======================================================================================
// подкл шрифты гугл, гуглфондс, напрямую
// @import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
// @font-face {
//   font-family: "AkzidenzGroteskBQ-BdCnd";
//   src: url("../../fonts/AkzidenzGroteskBQ-BdCnd.eot");
//   src: local("☺"), url("../../fonts/AkzidenzGroteskBQ-BdCnd.woff") format("woff"),
//     url("../../fonts/AkzidenzGroteskBQ-BdCnd.ttf") format("truetype"),
//     url("../../fonts/AkzidenzGroteskBQ-BdCnd.svg") format("svg");
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: "Bebas";
//   src: url("../../fonts/BebasRegular.eot");
//   src: local("☺"), url("../../fonts/BebasRegular.woff") format("woff"),
//     url("../../fonts/BebasRegular.ttf") format("truetype"),
//     url("../../fonts/BebasRegular.svg") format("svg");
//   font-weight: normal;
//   font-style: normal;
// }
// // font-display: swap;
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
// </Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//</Иконочные шрифты>==========================================================================================

// <ШРИФТ ПО УМОЛЧАНИЮ>==========================================================================================
// переменая шрифта по умолчанию (можно несколько сразу завести)
$fontfamily: "";
$fontfamily1: "PT Sans";
$fontfamily2: "Bebas";
$fontfamily3: "AkzidenzGroteskBQ-BdCnd";
$fontfamilyCurs: "cursive";
// </ШРИФТ ПО УМОЛЧАНИЮ>==========================================================================================
// </ШРИФТЫ>=======================================================================================================

// <ЦВЕТА>===========================================================================================================
$DarkRed: #8b0000; // темно-красный
$CrimsonBrown: #4b0000; // коричнево-малиновый
$WhiteAlum: #a3a3a3; // бело-алюминиевый
$DullGray: #707070; // тусклый серый
$WetAsphalt: #555555; // мокрый асфальта
$SignalBlack: #333333; // cигнальный черный
$red: #ff0000;
$yellow: #ffff00;
$orange: #ffa500;
$green: #008000;
$golub: #42aaff;
$blue: #0000ff;
$fiol: #8b00ff;
// </ЦВЕТА>===========================================================================================================

// <ПЕРЕМЕННЫЕ>===========================================================================================================
// сетка адаптива----------------------------------------------------------------------------------------
// минимальная ширина. статична
$minwidth: 320px;
// полотно
$maxWidth: 1920;
// огранич контейнер
$maxWidthContainer: 1170px;
// брейкпоинты для адаптива. сработает когда есть зазор
$md1: $maxWidthContainer + 12px;

// начальное значение контейниера из PSD. чаще всего использ дизайнерами
$mw: 1308;
$mw: 1345;
$mw: 1908;
// ??? не раб - в медиа не читает переменные с "+ px".
$mwNoErr: 1440px;
// 0! проба
$md0: $mw + 12;
// 1-ый брейкпоинт + 12px (по 6 с каждой стороны). измен по усмотрению
$md1: 1200;
$md1NoErr: 1200px;
// планшетное расширение
$md2: 992.98;
$md2NoErr: 992.98px;
// телефоны
$md3: 767.98;
$md3NoErr: 767.98px;
// маленькие телефоны
$md4: 479.98;
$md4NoErr: 479.98px;
// </ПЕРЕМЕННЫЕ>===========================================================================================================

// <ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
// обнуляющий стиль для стандартизации по всем свойствам, брайзерам и пр.
@import "../scss/null.scss";
// </ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
// настройка блока .wrapper от горизонтального скрола изза ошибок верстки (чтоб не вылазилило за пределы экрана)
#root {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background: $WetAsphalt;
  // &.loaded {
  // }
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
// основная сетка. подстройка под расширение экрана с учётом переменных из сетки адаптива
// mw - изначальная ширина контейниера
.container {
  max-width: $mw + px;
  margin: 0 auto;
  width: 100%;
  // уже есть три настроеных брейкпоинта
  // при ширине экрана md0(1308 + 12), макс ширина контейнера станет 1200px. в 1332 ширина становится 1200
  // ??? не раб - в медиа не читает переменные с "+ px".
  // @media (max-width: $mw+px) {
  @media (max-width: $mwNoErr) {
    max-width: 1200px;
    // ^^^ для скрытия краёв .container от фона #root.(React.Prob)
    min-width: 1200px;
    width: 1200px;
  }
  // ??? не раб - в медиа не читает переменные с "+ px".
  // $md1: 1200;
  // @media (max-width: $md1+px) {
  @media (max-width: $md1NoErr) {
    max-width: 970px;
    // ^^^ для скрытия краёв .container от фона #root.(React.Prob)
    min-width: 970px;
    width: 970px;
  }
  // $md2: 992.98;
  // @media (max-width: $md2+px) {
  @media (max-width: $md2NoErr) {
    max-width: 750px;
    // ^^^ для скрытия краёв .container от фона #root.(React.Prob)
    min-width: 750px;
    width: 750px;
  }
  // $md3: 767.98;
  // @media (max-width: $md3+px) {
  @media (max-width: $md3NoErr) {
    max-width: none;
    padding: 0 10px;
    // ^^^ для скрытия краёв .container от фона #root.(React.Prob)
    min-width: auto;
    min-width: auto;
    width: auto;
  }
  // $md4: 479.98;
  @media (max-width: $md4NoErr) {
    max-width: none;
    padding: 0px;
  }
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЛЕМЕНТОВ>====================================================================================================
//@import "../../js/fancybox/jquery.fancybox.scss";
// @import "../scss/steles.scss";
// @import "datepicker.scss";
// @import "fontawesome.scss";
// @import "popover.min.scss";
// @import "baguetteBox.scss";
// @import "pagging.scss";
// @import "icons.scss";
// @import "popup.scss";
// @import "./htmlProjsBlocks/header.scss";
// @import "catalog.scss";
// @import "Game.scss";
// @import "snake.scss";
// @import "Minesweeper.scss";
// @import "contacts.scss";
// @import "./htmlProjsBlocks/footer.scss";
// боковое меню .mini-aside(верх-вниз)
// @import "./htmlProjsBlocks/mini-aside.scss";
// @import "audio.scss";
// @import "video.scss";
// @import "gallery.scss";
// @import "manual.scss";
// @import "home.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================

// @import "./VDOH/ui.scss";

//<>====================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ, VISUAL, GRID, jQuery И ГОТОВЫХ КЛАССОВ>====================================================================================================
// элем форм, checkbox, select, кнопки
// @import "forms.scss";
// сбор готовых и вспомогательных классов (ibg, video, заголовки, зеркало, серый стиль)
// @import "./VDOH/ui.scss";
// изменения стилей Темы и Размеров (--theme, --size) при нажате на кнопки под меню
// @import "./VDOH/themeModesSettingsBtns.scss";
// @import "./VDOH/themeModesSettingsVars.scss";
// визуальные эффекты css во вкладке "Визул"
// @import "visual.scss";
// не большие анимации, трансформации, эффекты css на всех страницах
// @import "./VDOH/effect.scss";
// Grid сетки
// @import "./VDOH/grid.scss";
// jQuery - код разбор библ.
// @import "styleDoC.scss";
// jQuery - код проекта
// @import "styleDoP.scss";
// СВОИ СТИЛИ ----------------------------------------------------------------------------------
@import "../scss/uiWindowsAndWarrning.scss"; // врем окно предупреждения/доработки с подсказкой/идеей
@import "../scss/tagPreCode.scss"; // стили отображения куска кода в тегаз pre > code
@import "../scss/uiMiniComp.scss"; // стили мини компонентов взаимодействия (кнопки, аккордион, ...)
// @import "../scss/steles.scss";
//  ----------------------------------------------------------------------------------
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ, VISUAL, GRID, jQuery И ГОТОВЫХ КЛАССОВ>====================================================================================================

// МОЁ НАЧАЛО ДЛЯ REACT.PROB (SCSS этого проекта) =======================================================================================

// Общие для всех стили
@import "../scss/steles.scss";
// стили самих Компонентов подкл в них
// @import "../baseComponents/ReactDoc/ReactDoc.scss";
// @import "../probComponents/CommonTrifles/CommonTrifles.scss";
// @import "../probComponents/hooks/hooks.scss";
// ??? не раб - при подкл стилей в Vid.js, не распознаёт переменные из App.scss ($md3NoErr 40стр.), даже если App.scss подкл в index.js
@import "./probComponents/VidYT/Vid.scss";

@import "../scss/effects.scss";
