.root0__arrow {
  content: "";
  width: 55px;
  height: 55px;
  color: #000;
  background: red;
}

.qw {
  color: red;
}

.bttom__panel {
  background: #400;
  p {
    color: yellow;
  }
}
.top__panel {
  background: #409;
  p {
    color: yellow;
  }
}
.bottom {
  border: 3px solid #235;
}
