/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
} */
/* #root0 {
  height: 50%;
  background-color: #282c34;
} */
#root1 {
  /* height: 50%;
  background-color: #333428;
  background-color: #6b4622; */
}
#root {
  /* height: 100%; */
}
.root__body {
  /* height: 100%;
  display: flex;
  flex-direction: column; */
}
.root0__body {
  /* height: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  background-color: #282c34; */
}

.root1__body {
  /* height: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #6b4622; */
}

.button__app {
  /* padding: 20px; */
}
