// скрытие блоков
.root-body {
  & > div {
    // &:not([class*="__descript"] > h3) {
    & > div[class$="__content"],
    & > div[class$="__description"] div,
    & > div[class$="__description"] p,
    & .temporary {
      // display: none;
    }
  }
  // & > div h3:hover {
  // & > div:hover { // при наведении
  // & > div:active { // при клике
  & > div:link {
    // при
    & > div[class$="__content"],
    & > div[class$="__description"] div,
    & > div[class$="__description"] p,
    & .temporary {
      // display: block;
    }
  }
}

div[class$="__content"] {
  & > div {
    & > div[class$="__content--"],
    & > div[class$="__description--"] div,
    & > div[class$="__description--"] p,
    & .temporary {
      // display: none;
    }
  }
}
div[class$="__content"] {
  & > div:hover {
    & > div[class$="__content--"],
    & > div[class$="__description--"] div,
    & > div[class$="__description--"] p,
    & .temporary {
      // display: block;
    }
  }
}

.spoiler-body {
  display: none;
}

.LiftingStateUp__description--::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background: $DarkRed;
}

//  ----------------------------------------------------------------------------------

.isopen {
  display: none;
  display: inline-block !important;
}

//  ----------------------------------------------------------------------------------

.spollers-block {
  margin: 0px 0px 50px 0px;
  // .spollers-block__item
  &__item {
    margin: 0px 0px 20px 0px;
    &:last-child {
      margin: 0px 0px 0px 0px;
    }
  }
  // .spollers-block__title
  &__title {
    background-color: #794f45;
    cursor: pointer;
    padding: 20px 70px 20px 20px;
    position: relative;
    &::before {
      content: "";
      width: 20px;
      background-color: #fff;
      height: 2px;
      transition: transform 0.3s ease 0s;
      transform: translate(0, -50%) rotate(-45deg);
      position: absolute;
      right: 15px;
      top: 50%;
    }
    &::after {
      content: "";
      width: 20px;
      background-color: #fff;
      height: 2px;
      transition: transform 0.3s ease 0s;
      transform: translate(0, -50%) rotate(45deg);
      position: absolute;
      right: 29px;
      top: 50%;
    }
    &._active {
      &::before {
        transform: translate(0, -50%) rotate(45deg);
      }
      &::after {
        transform: translate(0, -50%) rotate(-45deg);
      }
    }
  }

  // .spollers-block__body
  &__body {
    display: none;
    padding: 20px 0px 0px 0px;
  }
}
//========================================================================================================================================================

.spoiler-body {
  display: none;
}
.spoiler-body2 {
  // display: none;
  color: red;
}

//  ----------------------------------------------------------------------------------

// .state-lifecycle--
// div[ref="RefActinCl"]
.accordion {
  h3 {
    &::before,
    &::after {
      content: "";
      width: 20px;
      height: 4px;
      position: absolute;
      top: 50%;
      background-color: $DarkRed;
      // transition: transform 0.3s ease 0s;
      transition: all 0.6s cubic-bezier(0.08, 1.09, 0.32, 1.275);
    }
    &::before {
      transform: translate(0, -50%) rotate(-45deg);
      // right: 15px;
      right: 10px;
      // transition: transform 0.3s ease-in-out;
    }
    &::after {
      transform: translate(0, -50%) rotate(45deg);
      // right: 29px;
      right: 21px;
      // transition: transform 0.3s ease-in-out;
    }
    &._active {
      &::before {
        transform: translate(0, -50%) rotate(45deg);
      }
      &::after {
        transform: translate(0, -50%) rotate(-45deg);
      }
    }
  }
  div[class$="__content--"] {
    height: 0;
    visibility: hidden;
    opacity: 0;
    overflow: auto;
    transition: all 0.2s ease-in;
  }
  .isOpenRef {
    visibility: visible;
    opacity: 1;
    transition: all 0.8s ease-in;
  }
  .isOpenRefStyle {
    display: none;
    display: inline-block !important;
  }
}

//  ----------------------------------------------------------------------------------

// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

// body {
//   font-family: Verdana, Geneva, Tahoma, sans-serif;
//   font-size: 20px;
//   background: rgb(238, 174, 202);
//   background: radial-gradient(
//     circle,
//     rgba(238, 174, 202, 1) 0%,
//     rgba(199, 233, 148, 1) 100%
//   );
// }

h1 {
  text-align: center;
  margin: 0.3rem 0 0.3rem 0;
}

.accordionQWERTY {
  max-width: 600px;
  margin: 0.5rem auto;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: #21aeca;
}

.accordion-title:hover {
  background-color: #3ab4cc;
}

.accordion-title,
.accordion-content {
  padding: 1rem;
}

.accordion-content {
  background-color: #39b9d2;
}

@media screen and (max-width: 700px) {
  body {
    font-size: 18px;
  }

  .accordion {
    width: 90%;
  }
}

//  ----------------------------------------------------------------------------------
