// МОЁ НАЧАЛО ДЛЯ REACT.PROB

// Все стили подкл в App.scss

// @import "../scss/mixins.scss";
// @import "../scss/null.scss";

// @import "../probComponents/VidYT/Vid.scss";
// @import "../baseComponents/ReactDoc/ReactDoc.scss";
// @import "../probComponents/CommonTrifles/CommonTrifles.scss";

// высоты пока разные
.Vid {
  height: 100vh;
  // скореевсего приду к height:auto для .Vid
  height: auto;
  width: auto;
  width: 100%;
}
.ReactDocComponents,
.CommonTrifles {
  height: auto;
  // height: 100vh;
}
// 1ая влж (Компоненты Темы)  ----------------------------------------------------------------------------------
.Vid,
.ReactDocComponents,
.CommonTrifles,
.HooksComponents,
.PersistState {
  font-size: inherit;
  // ^ Шрифт меняем ч/з свойство Адаптивный шрифт в @mixin adaptiv-font
  @include adaptiv-font(24, 12);
  position: relative;
  height: auto;
  line-height: 1.5;
  // 2ая влж (блоки Темы (description, content и frame))  ----------------------------------------------------------------------------------
  & > div {
    // общий нижний отступ для h3
    & > h3 {
      padding: 0px 0px 10px;
      @include adaptiv-value("padding-top", 10, 0, 3);
      @include adaptiv-value("padding-bottom", 10, 0, 3);
    }
    // отступы для description
    &:nth-child(1) {
      text-align: center;
      @include adaptiv-value-all("padding", 30, 10, 60, 25);
    }
    // отступы для вложенных description
    [class*="description"]:nth-child(1) {
      // времмено убрал padding. попробую решить через padding на общий блок
      // @include adaptiv-value("padding-bottom", 15, 0, 3);
      // background: #5ff !important;
    }
    // отступы для div кросме последнего
    // [class$="__description--"],
    // [class$="__content--"] {
    [class*="__description---"],
    [class*="__content---"] {
      width: 100%;
      padding: 10px 0px 0px;
      // border-radius: 15px;
      // box-shadow: 0 0 5px 5px rgb(34 60 80 / 20%);
      // margin-bottom: 2px;
      // padding: 0px 0px 10px;
      & > div:not(:last-child) {
        // padding: 0px 0px 10px;
      }
    }
    [class*="__description---"]:first-child,
    [class*="__content---"]:first-child {
      // padding: 0px 0px 0px;
    }
    [class*="__description---"]:last-child,
    [class*="__content---"]:last-child {
      padding: 0px 0px 10px;
    }

    .Lists__content--- > div {
      padding: 10px 0px;
    }

    // 3я влж (разделы Темы (content > дочки(vidinput, fnComp))) + Заголовок Темы ------------------------------------------------------------------------------
    & > div {
      position: relative;
      width: 100%;
      height: auto;
      // display: flex;
      // flex-direction: column;
      // justify-content: space-evenly;
      // justify-content: space-around;
      // justify-content: space-between;
      // align-content: center;
      // align-items: center;
      text-align: center;
      // ^ 5 вариантов передачи размеров с 4мя сторонами(padding, margin, )
      // ^ 1 вар. Простой
      padding: 10px 50px;
      // ^ 2 вар. ч/з @media запрос
      // @media (max-width: $md2NoErr) {
      //   padding: 10px 40px;
      // }
      // ^ 3 вар. ч/з @mixin padding с @media запросами
      // @include padding;
      // ^ 4 вар. ч/з Адаптивное св-во в @mixin adaptiv-value
      // @include adaptiv-value("padding-right", 32, 15, 1);
      // ^ 5 вар. ч/з Адаптивное св-во для Всех в @mixin adaptiv-value-all
      @include adaptiv-value-all("padding", 10, 0, 60, 25);
    }
    // общие бл. 2ой влж (вложенности). vid-input, GreetingClComp__content,
    & > div {
      // общие бл. 3ей влж. vid-input-1, GreetingClComp__content-1,
      & > div {
        // font-size: 18px;
        // font-size: inherit;
        @media (max-width: $md3NoErr) {
          // font-size: 14px;
          // font-size: inherit;
        }
      }
    }

    // именнованые бл. 2ой влж(Цв.Поле 2ой влж). vid-input, GreetingClComp__content,  ----------------------------------------------------------------------------------
    // & [class^="vid-input__content"],
    .vid-input__content--,
    .vid-button__content--,
    .GreetingClComp__content--- {
      @include size(350px, 150px);
      margin: 0 auto;
      // width: 350px;
      // height: 150px;
      // @include size(350px, 150px);
      border: 4px solid $red;
      padding: 3px !important;
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: stretch;
      justify-content: center;
      text-align: center;
      @media (max-width: $md3NoErr) {
        @include size(250px, 100px);
      }
      @media (max-width: $md4NoErr) {
        @include size(150px, 100px);
        span.spmdnon {
          display: none;
        }
      }
      // именнованые бл. 3ей влж (Цв.Поле 2ой влж). vid-input__oneexp, greeting__twoexp,
      [class*="oneexp"],
      [class*="twoexp"] {
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        align-content: center;
        padding: 5px !important;
        font-size: inherit;
        @include adaptiv-font(16, 10);
        // именнованые бл. 4ой влж (Цв.Поле 2ой влж). vid-input-11, GreetingClComp__content-11,
        [class*="description"],
        [class*="content"] {
          // height: 100%;
          // line-height: 1.7;
          display: flex;
          flex-direction: row;
          align-content: center;
          justify-content: center;
          align-items: center;
        }
      }
    }
    // Именнованые бл. 4ой влж (Цв.Поле 4ой влж) ----------------------------------------------------------------------------------
    & > div > div {
      .countryflags__oneexp_content---,
      .countryflags__twoexp_content--- {
        display: block;
        // width: 350px;
        min-height: 14px;
        // background: #1ff;
        margin: 0 auto;
        background: #fff2dd;
        text-align: center;
      }
      .countryflags {
        &-12,
        &-22 {
          @media (max-width: $md3NoErr) {
            @include size(250px, auto);
          }
          @media (max-width: $md4NoErr) {
            @include size(auto, auto);
            max-width: 250px;
          }
        }
      }
    }
  }
}

// Боковые Рамки (ныне __frame, ранее before/after) + Цвета | 1ая влж (Компоненты Темы) ----------------------------------------------------------------------------------
.Vid,
.ReactDocComponents,
.CommonTrifles,
.HooksComponents,
.PersistState {
  // РАМКА С ЛЕВА (ныне __frame, ранее before(без hover)) ----------------------------------------------------------------------------------
  // &::before {
  &__frame {
    @include afterbefore;
    @include before;
    div {
      // position: fixed;
    }
  }
  // 2ая влж. Блоки Темы (description, content и frame) ---------------------------------------------------------------------------------
  & > div {
    // 3я влж. Разделы Темы (vid-input, StateAndLifeCycle, clComp, )-------------------------------------------------------------------------------
    // div[class$="descriptin--"]._active ~ [class$="__frame--"] {
    div:first-child._active ~ [class$="__frame--"] {
      display: block;
      @include afterbefore;
      @include after;
    }
    & > div {
      // РАМКА С ПРАВА (ныне __frame, ранее after(без hover)) -----------------------------------------------------------------------------
      // &::after {
      & [class$="__frame--"] {
        display: none;
        // @include afterbefore;
        // @include after;
      }
    }
  }
  //  ----------------------------------------------------------------------------------

  // ЦВЕТА. 2ая влж. Блоки Темы (description, content и frame) ----------------------------------------------------------------------------------
  & > div {
    // 3я влж. Именновыные Многовложенные (сложные) Разделы Темы
    // .conditional-rendering,
    // .StateAndLifeCycle,
    // .countryflags {
    //   & [class$="__content"] > div {
    //     // & .conditional-rendering__content > div {
    //     &:nth-child(odd) {
    //       background-color: #838383;
    //       padding: 10px 0 0;
    //       // background: yellow;
    //     }
    //     &:nth-child(even) {
    //       background-color: #cccccc;
    //       padding: 10px 0 0;
    //       // background: coral;
    //     }
    //   }
    // }
    .conditional-rendering__content,
    .StateAndLifeCycle__content,
    .countryflags__content {
      & > div {
        // & .conditional-rendering__content > div {
        &:nth-child(odd) {
          background-color: #838383;
          // padding: 10px 0 0;
          // background: yellow;
        }
        &:nth-child(even) {
          background-color: #cccccc;
          // padding: 10px 0 0;
          // background: coral;
        }
      }
    }
    // цвета бл. 2ой влж (бл. Темы (для content, кроме description)) ----------------------------------------------------------------------------------
    &:not([class*="description"]) > div {
      &:nth-child(odd) {
        background-color: #cccccc;
      }
      &:nth-child(even) {
        background-color: #838383;
      }
    }
    // именнованые блоки 2ой влж (Рамки). vid-input, GreetingClComp__content
    //  --------------------------------------------------------------------
    // [class*="description"],
    // [class*="content"]
    // [class*="oneexp"],
    // [class*="twoexp"]
    //  --------------------------------------------------------------------
    // div.greeting--- > div.GreetingClComp__content--- > div.greeting__oneexp---- > div.greeting__oneexp_descript----
    & .vid-input__content--,
    .vid-button__content--,
    .GreetingClComp__content--- {
      // общие цвета Рамок
      [class*="oneexp"] {
        background: $orange;
        // vid-input-11,
        [class*="description"] {
          background: $yellow;
        }
        [class*="content"] {
          width: 100%;
          background: $green;
        }
      }
      // vid-input-2,
      [class*="twoexp"] {
        background: $golub;
        // vid-input-21,
        [class*="description"] {
          background: $blue;
        }
        [class*="content"] {
          width: 100%;
          background: $fiol;
        }
      }
    }
  }
}

// // стили тега PrevRend
// .PrevRend--- {
//   .warning,
//   .warning3 {
//     width: 100%;
//     padding: 10px;
//     color: white;
//     background-color: $WetAsphalt;
//     font-size: 14pt;
//     text-align: center;
//     // border-radius: 10px;
//   }
//   .warning {
//     border-top-left-radius: 10px;
//     border-top-right-radius: 10px;
//     box-shadow: 3px 3px 10px -2px rgb(0 0 0 / 50%) inset,
//       -3px 3px 10px 2px rgb(0 0 0 / 50%) inset;
//   }
//   .warning3 {
//     border-bottom-left-radius: 10px;
//     border-bottom-right-radius: 10px;
//     box-shadow: 3px -3px 10px -2px rgb(0 0 0 / 50%) inset,
//       -3px -3px 10px 2px rgb(0 0 0 / 50%) inset;
//   }
//   .warning2 {
//     // border: 1px solid $WetAsphalt;
//     border-left: 3px solid #333333;
//     border-right: 3px solid #333333;
//   }
// }
// обводка тень блоков
// .vid-input--,
// .StateAndLifeCycle__content--,
.greeting---,
.PrevRend---,
.IfAnd---,
.IfCondOper---,
.Lists--- [class*="content"] > div,
.Keys---- [class*="content"] > div,
// .Forms-- [class$="content---"] > div,
.Forms-- [class$="content--"] > div > div > div ,
.FormsClComp--- > div > div ,
// .Forms-- [class*="content--"] > div > div > div,
.LiftingStateUp--  [class*="content--"] > div > div > div,
.ConditionalRendering-- [class$="content--"] > div > div > div,
.ConditionalRenderingClComp--- > div > div
// [class$="ClComp---"] > div > div
{
  // [class$="__description--"] > div,
  // [class$="__content--"] > div {
  width: 100%;
  padding: 10px 0px;
  margin-bottom: 2px;
  border-radius: 15px;
  box-shadow: 0 0 5px 5px rgb(63 63 63 / 20%);
  // }
}
.PrevRend__content---,
.IfAnd-content---,
.IfCondOper-content--- {
}
.temporary {
  color: red;
  background: royalblue;
  text-shadow: 2px 2px 2px black, 2px 2px 2px darkred;
  text-shadow: 1px 1px 1px black, 1px 1px 1px darkred;
  code {
    color: inherit;
  }
}

//  ----------------------------------------------------------------------------------

// .StateAndLifeCycle__descriptin-- h3 {
//   &::before {
//     content: "";
//     width: 20px;
//     background-color: #fff;
//     height: 2px;
//     transition: transform 0.3s ease 0s;
//     transform: translate(0, -50%) rotate(-45deg);
//     position: absolute;
//     right: 15px;
//     top: 50%;
//   }
//   &::after {
//     content: "";
//     width: 20px;
//     background-color: #fff;
//     height: 2px;
//     transition: transform 0.3s ease 0s;
//     transform: translate(0, -50%) rotate(45deg);
//     position: absolute;
//     right: 29px;
//     top: 50%;
//   }
//   &._active {
//     &::before {
//       transform: translate(0, -50%) rotate(45deg);
//     }
//     &::after {
//       transform: translate(0, -50%) rotate(-45deg);
//     }
//   }
// }

//  ----------------------------------------------------------------------------------
